.title {
    text-align: left;
    padding: 10px;
    background-color: #f66;
    color: white;
    font-size: 18px;
}

.th-custom {
    font-weight: 700;
    color: gray !important;
}
.th-custom-title {
    font-weight: 700;
}